<%- include('header') %>
      <div class="row">
          <div class="col-md-12">
            <% if(success!=''){ %>
              <p class="alert alert-success"> <%= success %> </p>
              <% } %>
        <form action="/editpassword" id="categoryForm" class="form-horizontal col-md-8" method="post">
              <input type="hidden" name="id" value="<%= data._id %>"/>
          <div class="form-group">
              <label for="firstname" class="col-md-3 control-label">Password Category</label>
              <div class="col-md-9">
                  <select class="form-control" name="pass_cat">
                      
                      <option value="0"> --Select-- </option>
                      <% if(response.length > 0){
                          response.forEach((row)=>{ %>
                            <option value="<%= row.password_category %>" <% if(row.password_category == data.password_category){ %> selected <% } %> > <%= row.password_category %> </option>
                        <% }) } %>
                          
                  </select>
              </div>
          </div>

          <div class="form-group">
            <label for="firstname" class="col-md-4 control-label">Project Name </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="project_name" value="<%= data.project_name %>"/>
            </div>
          </div>

          <div class="form-group">
            <label for="firstname" class="col-md-4 control-label">Password Description</label>
            <div class="col-md-9">
                <textarea class="form-control" name="pass_description" rows="5"> <%= data.password_description %> </textarea>
            </div>
          </div>

          <div class="form-group">
              <!-- Button -->                                        
              <div class="col-md-offset-3 col-md-9">
              <input type="submit" value="Save Password" class="btn btn-primary">   
              </div>
          </div>
          
          <p> <a href="/passwordlist"> Go to Password List </a></p>
      </form>
    </div>
    </div>
    <%- include('footer') %>
