<%- include('header') %>

    <div class="row">
        <h1> <%= title %></h1>

      <div class="col-md-12 text-right mb-4">
          <a href="/addnewpassword" class="btn btn-primary"> Add New Password </a>
      </div>

        <% if(success != ''){ %>
          <div class="alert alert-success"> 
            <%= success %>
          </div>
        <% } %> 
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Password Category Name</th>
          <th scope="col">Project Name</th>
          <th scope="col">Password Details</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
            <% if(data.length > 0) {
              data.forEach((row)=>{ %>
                <tr>
                  <td> <%= row.password_category %> </td>
                  <td> <%= row.project_name %> </td>
                  <td> <%= row.password_description %> </td>
                  <td>
                    <a class="btn btn-secondary btn-xs" href="#" data-toggle="modal" data-target="#exampleModal<%=row._id%>"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
                    <a class="btn btn-primary btn-xs" href="/passwordlist/edit/<%=row._id %> "> <i class="fa fa-pencil" aria-hidden="true"></i> </a>
                    <a class="btn btn-danger btn-xs" href="/passwordlist/delete/<%=row._id %>"> <i class="fa fa-trash" aria-hidden="true"></i> </a>
                  </td>
                </tr>

                <!-- Modal -->
                  <div class="modal fade" id="exampleModal<%=row._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"> <%= row.password_category %>  </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p> <strong> Project Name: </strong> <%= row.project_name %> </p>
                          <p> <strong> Project Description: </strong> <%= row.password_description %> </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
              <% }) } %>
              

      </tbody>
    </table>

    <!-- for pagination -->
     <!-- 
       <% if (pages > 0) { %>
      <ul class="pagination text-center">

        if current page is 1 then first is disabled otherwise not and first will show 1 no of page 
          <% if (current == 1) { %>
              <li class="disabled"><a>First</a></li>
          <% } else { %>
              <li><a href="/passwordlist/1">First</a></li>
          <% } %>

          <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>

          <% if (i !== 1) { %>
              <li class="disabled"><a>...</a></li>
          <% } %>
          <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
              <% if (i == current) { %>
                  <li class="active"><a><%= i %></a></li>
              <% } else { %>
                  <li><a href="/passwordlist/<%= i %>"><%= i %></a></li>
              <% } %>
              <% if (i == Number(current) + 4 && i < pages) { %>
                  <li class="disabled"><a>...</a></li>
              <% } %>
          <% } %>
          <% if (current == pages) { %>
              <li class="disabled"><a>Last</a></li>
          <% } else { %>
              <li><a href="/passwordlist/<%= pages %>">Last</a></li>
          <% } %>
      </ul>
  <% } %> -->

      
     

      <% if(pages > 0){ %>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <% if(current == 1){ %>
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">First</a>
            </li>
          <% }else{ %>
            <li class="page-item"><a class="page-link" href="/passwordlist/1">First</a></li>
          <% }
          var i = ( (Number(current) > 4) ? (current - 3) : 1 );
          if(i != 1){ %>
            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
          <% }
          for(; i<= (Number(current) + 3) && i <= pages ; i++){
            
            if(i == current){ %>
              <li class="page-link active"><a><%= i %></a></li>
            <% } else{ %>
            <li class="page-item"><a class="page-link" href="/passwordlist/<%= i %>"><%= i %></a></li>
          <% }
          if (i == Number(current) + 3 && i < pages) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
          <% } }
          if(Number(current) == pages){ %>
            <li class="page-item disabled">
              <a class="page-link" href="#">Last</a>
            </li>
          <% }else{ %>
            <li class="page-item">
              <a class="page-link" href="/passwordlist/<%=pages%>">Last</a>
            </li>
          <% } %>
            
          </ul>
        </nav>
      <% } %>
    

    </div>
    <%- include('footer') %>
